@page "/history_and_logs"
@inject IHistoryService HistoryService
@using Microsoft.AspNetCore.Components.QuickGrid
@attribute [Authorize(Roles = "Admin")]

     <div class="row">
               <h3>History & Logs</h3>
          <div class="col">
               
               @if(HistoryService.Objects == null)
               {
                    <div class="spinner-border text-primary" role="status">
                         <span class="visually-hidden">Loading...</span>
                    </div>
               }
               else if(HistoryService.Objects.Count == 0)
               {
                    <p>No programs found.</p>
               }
               else
               {
                    
                    <table class="table table-hover datatable">
                         <thead>
                         <tr>
                              <th scope="col">#</th>
                              <th scope="col">Name</th>
                              <th scope="col">Description</th>
                              <th scope="col">User</th>
                              <th scope="col">Action Performed</th>
                              <th scope="col">Serverity</th>
                              <th scope="col">Action Result</th>
                              <th scope="col">Date</th>
                         </tr>
                         </thead>
                         <tbody  class="grid-max-height">
                         @foreach (var context in HistoryService.Objects)
                         {
                              <tr>
                                   <th >@context.Id.ToString()</th>
                                   <th >@context.Name</th>
                                   <th >@context.ShortDescription</th>
                                   <th >@context.User.Name</th>
                                   <th >@context.Action</th>
                                   <th >@context.Severity.ToString()</th>
                                   <th >@context.ActionResult</th>
                                   <th >@context.Date.ToString()</th>
                              </tr>
                         }
                         </tbody>
                    </table>

               }
          </div>
     </div>
@code {
     bool isLoading = true;
     PaginationState pagination = new PaginationState { ItemsPerPage = 10 };
     PaginationState pagination2 = new PaginationState { ItemsPerPage = 2 };


protected override async void OnInitialized()
     {
          await HistoryService.Get();
          if(HistoryService.Objects != null)
          {
               isLoading = false;
          }
          StateHasChanged();


    StateHasChanged();
}
  
}




