<!-- This card is a resusable component that takes in the following variables 
     --
     --
     --
     --
     --
     This card has the following properties:
     --
     --
     --
     --
     It requires the boostrap 5 library to be included in the page	
     Copyright Zambezi Digital 2023;
     All rights reserved.
 -->
@inject INoteService NoteService
<style>
     .section_our_solution .row {
          align-items: center;
     }

     .our_solution_category {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
     }

     .our_solution_category .solution_cards_box {
          display: flex;
          flex-direction: column;
     }

     .solution_cards_box .solution_card {
          flex: 0 50%;
          background: #fff;
          box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2), 0 5px 15px 0 rgba(37, 44, 97, 0.15);
          border-radius: 15px;
          padding: 10px 15px;
          position: relative;
          z-index: 1;
          overflow: hidden;
          min-height: 265px;
          transition: 0.7s;
     }

     .solution_cards_box .solution_card:hover {
          background: linear-gradient(273deg, rgb(10, 7, 43) 0%, rgba(10, 7, 43, 0.712) 36%, rgba(10, 7, 43, 0.627) 69%, rgba(10, 7, 43, 0.937) 100%);
          color: #fff;
          transform: scale(1.1);
          z-index: 9;
     }

     .solution_cards_box .solution_card:hover::before {
          background: rgba(176, 183, 214, 0.1);
     }

     .solution_cards_box .solution_card:hover .solu_title h3,
     .solution_cards_box .solution_card:hover .solu_description p {
          color: #fff;
     }

     .solution_cards_box .solution_card:before {
          content: "";
          position: absolute;
          background: rgb(85 108 214 / 5%);
          width: 170px;
          height: 500px;
          z-index: -1;
          transform: rotate(42deg);
          right: -56px;
          top: -23px;
          border-radius: 35px;
     }

     .solution_cards_box .solution_card:hover .solu_description button {
          background: #fff !important;
          color: #309df0;
     }

     .solution_card .so_top_icon {}

     .solution_card .solu_title h3 {
          color: #bec9f1;
          font-size: 1.3rem;
          margin-top: 13px;
          margin-bottom: 13px;
     }

     .solution_card .solu_description p {
          font-size: 15px;
          margin-bottom: 15px;
     }

     .solution_card .solu_description button {
          border: 0;
          border-radius: 15px;
          background: linear-gradient(140deg, #cbfcff 0%, #a6cbcd 50%, #ffffffc7 75%) !important;
          color: #fff;
          font-weight: 500;
          font-size: 1rem;
          padding: 5px 16px;
     }

     .our_solution_content h1 {
          text-transform: capitalize;
          margin-bottom: 1rem;
          font-size: 2.5rem;
     }

     .our_solution_content p {}

     .hover_color_bubble {
          position: absolute;
          background: rgba(231, 235, 251, 0.648);
          width: 100rem;
          height: 100rem;
          left: 0;
          right: 0;
          z-index: -1;
          top: 16rem;
          border-radius: 50%;
          transform: rotate(-36deg);
          left: -18rem;
          transition: 0.7s;
     }

     .solution_cards_box .solution_card:hover .hover_color_bubble {
          top: 0rem;
     }

     .solution_cards_box .solution_card .so_top_icon {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          background: #fff;
          overflow: hidden;
          display: flex;
          align-items: center;
     }

     .solution_cards_box .solution_card .so_top_icon img {
          width: 40px;
          height: 50px;
          object-fit: contain;
     }

     /*start media query*/
     @@media screen and (min-width: 320px) {
          .sol_card_top_3 {
               position: relative;
               top: 0;
          }

          .our_solution_category {
               width: 100%;
               margin: 0 auto;
          }

          .our_solution_category .solution_cards_box {
               flex: auto;
          }
     }

     @@media only screen and (min-width: 768px) {
          .our_solution_category .solution_cards_box {
               flex: 1;
          }
     }

     @@media only screen and (min-width: 1024px) {
          .sol_card_top_3 {
               position: relative;
               top: -3rem;
          }

          .our_solution_category {
               width: 100%;
               margin: auto auto;
          }
     }

     a {
          text-decoration: none;
     }
</style>
<div class="col-12 py-2">
     <div class="our_solution_category">
          <div class="solution_cards_box">
                    <div class="solution_card d-flex p-4">
                         <div class="col-12">
                              <div class="row">
                                   <div class="col-5">
                                        <div class="solu_title">
                                             <h5>@Program.ShortName</h5>
                                        </div>
                                   </div>
                                   <div class="col-7">
                                        <span>Months Left : @Program.MonthsRemaining()</span>
                                   </div>
                              </div>
                              <div class="solu_description">
                                   <p class="p-0 m-0"> Department : @Program.DepartmentId</p>
                                   <p class="p-0 m-0"> School : @Program?.Department?.School?.Name</p>
                                   <p class="p-0 m-0"> Number of Notes : @Program?.Notes?.Count</p>
                                   <p class="p-0 m-0"> Accreditation Status : @Program?.Status?.Name</p>
                                   <p class="p-0 m-0"> Duration : @Program.GetDuration()</p>
                                   <p class="p-0 m-0"> Valid from : @Program.ValidFrom</p>
                                   <p class="p-0 m-0"> Valid to : @Program.ValidTo</p>
                              </div>
                                   @if(loading)
                                   {
                                        <Loading />
                                   }
                         </div>

                    </div>
          </div>
     </div>
</div>



@code {
     [Parameter]
     public AWProgram Program { get; set; }
     public bool loading = false;
    
     public string TimeStamp { get; set; } = string.Empty;


     [Parameter]
     public EventCallback ShowMoreDetails { get; set;}

     protected override async void OnInitialized()
     {
          await NoteService.Get();
     }
     [Parameter]
     public EventCallback OnNoteDismissed { get; set; }
}
